<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>路肩</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" th:href="@{/zui/css/zui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/zui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/zui/css/iconfont.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/zui/lib/datetimepicker/datetimepicker.min.css}" >
    <script type="text/javascript" th:src="@{/zui/lib/jquery/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/zui/js/zui.min.js}"></script>
    <script type="text/javascript" th:src="@{/zui/lib/datetimepicker/datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/zui/js/api.js}"></script>
    <script>
        $(function(){
            $(".layui-timeline-axis").click(function(){
                if(!$(this).text()){
                    $(this).text("√")
                    $(this).next().prop("checked",true);
                }
                else {
                    $(this).text("")
                    $(this).next().prop("checked",false);
                }
            })
            // 选择年份
            $(".form-date").datetimepicker(
                {
                    startView: 4,
                    minView: 4,
                    autoclose:true,
                    language:'zh-cn',
                    format: "yyyy"
                });
            //删除
            $("#deleteformsubmit").click(function () {
                let size = $(".deleteUpdateCheckbox:checked").length
                if(size==0) {
                    new $.zui.Messager("请选择至少一项!",{
                        type: 'danger'
                    }).show()
                }else{
                    new $.zui.Messager('您共选择了'+size+'项', {
                        type: 'important',
                        close:false,
                        actions: [{
                            name: 'confirm',
                            icon: 'check',
                            text: '确定删除',
                            action: function() {  // 点击该操作按钮的回调函数
                                post("/maintain/roadsideandroadbed/roadbed/roadShoulder/delete",$('#deleteUpdateform').serialize());
                            }
                        }],
                        time: 0 // 不进行自动隐藏
                    }).show();
                }

            });
            //添加
            $("#addUpdateformsubmit").click(function () {
                if($("#roadId").val()) {
                    $("#light").find("input").each(function(i,dom){
                        if(!$(dom).val())$(dom).val("0")
                    })
                    $("#heavy").find("input").each(function(i,dom){
                        if(!$(dom).val())$(dom).val("0")
                    })
                    post("/maintain/roadsideandroadbed/roadbed/roadShoulder/add",$('#addUpdateform').serialize());
                 }else $("#roadId").focus();
            });
            //修改弹窗  数据导入
            $("#updateButton").click(function () {
                let size = $(".deleteUpdateCheckbox:checked").length
                if(size>1||size==0) {
                    new $.zui.Messager("请选择一项!",{
                        type: 'danger'
                    }).show()
                }else{
                   let ss =  get("/maintain/roadsideandroadbed/roadbed/roadShoulder/one",$('#deleteUpdateform').serialize())

                }

            })
            //修改提交
            $("#addUpdateformsubmit").click(function () {
                // if($("#roadId").val()) {
                //     $("#light").find("input").each(function(i,dom){
                //         if(!$(dom).val())$(dom).val("0")
                //     })
                //     $("#heavy").find("input").each(function(i,dom){
                //         if(!$(dom).val())$(dom).val("0")
                //     })
                //     post("/maintain/roadsideandroadbed/roadbed/roadShoulder/add",$('#addUpdateform').serialize());
                // }else $("#roadId").focus();
            });
            $(".form-date").attr("value",new Date().getFullYear());
        })
    </script>
    <style>
        .textstyle{
            text-align: center !important;
        }
        hr{
            background-color: #b22222;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="bg-info with-padding">
            路肩损坏
        </div>
    </div>
</div>
<div class="row">
    <div style="min-height: 3px;"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar">
            <div class="btn-group ">
                <button class="btn btn-primary " type="button" data-toggle="modal"  data-target="#AddDialog"><span class="iconfont icon-jiahao"></span>添加</button>
                <button class="btn btn-danger "  type="button" id="deleteformsubmit"><span class="iconfont icon-shanchu" ></span>删除</button>
                <button class="btn btn-info  "   type="button" id="updateButton" data-toggle="modal"  data-target="#AddDialog"><span class="iconfont icon-xiugai"></span>修改</button>
                <button class="btn btn-success " type="button"><span class="iconfont icon-daoru"></span>导入</button>
                <button class="btn btn-warning " type="button"><span class="iconfont icon-chongzhi"></span>重置</button>
            </div>
            <div class="btn-group">
                <div class="input-control search-box search-box-circle has-icon-left has-icon-right" id="searchboxExample">
                    <input id="inputSearchExample1" type="search" class="form-control search-input" placeholder="输入路段起点桩号">
                    <label for="inputSearchExample1" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
                    <a href="#" class="input-control-icon-right search-clear-btn"><i class="icon icon-remove"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div style="min-height: 10px;"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="accordion">
            <form id="deleteUpdateform">
            <div  th:each="data:${result}">
            <a class="card" th:href="'#collapseExample'+${data.key.id}" data-toggle="collapse" data-parent="#accordion" style=" margin-bottom: 5px;">
                <div class="card-heading"><strong th:text="${data.key.roadId}"></strong></div>
            </a>
            <div class="collapse" th:id="'collapseExample'+${data.key.id}">
                <div class="hl-success with-padding">
                    <ul class="layui-timeline">

                        <li class="layui-timeline-item" th:each="yearData,yearDataStat : ${data.value}">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <input type="checkbox" class="deleteUpdateCheckbox" name="deleteUpdatelist" th:value="${yearData.get('light').id} +','+${yearData.get('heavy').id}" style="display: none;"/>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title" th:text="${yearData.get('light').year}+'年'"></h3>
                                <div class="row" >
                                    <div class=" col-md-12 textstyle" >
                                        <h2 style="margin-bottom: 15px;">百米损坏情况</h2>
                                        <div class="row" >
                                            <div class="col textstyle" >
                                                <span>程度</span>
                                            </div>
                                            <div class="col-md-1 textstyle">
                                                <span>第1段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第2段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第3段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第4段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第5段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第6段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第7段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第8段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第9段</span>
                                            </div>
                                            <div class=" col-md-1 textstyle">
                                                <span>第10段</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" th:object="${yearData.get('light')}">
                                    <div class=" col textstyle">
                                        <span>轻</span>
                                    </div>
                                    <div class=" col-md-1 textstyle" th:each="section:*{section}">
                                        <span th:text="${section}+'米'"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" th:object="${yearData.get('heavy')}">
                                    <div class="col textstyle">
                                        <span>重</span>
                                    </div>
                                    <div class=" col-md-1 textstyle" th:each="section:*{section}">
                                        <span th:text="${section}+'米'"></span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- 对话框 -->
<div class="modal fade" id="AddDialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">添加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addUpdateform">
                    <div class="form-group">
                        <label class="col textstyle required">路段起点桩号</label>
                        <div class="col">
                            <input type="text" id="roadId" name="roadId" class="form-control required"  placeholder="请输入路段起点桩号">
                        </div>
                        <label class="col textstyle required">年份</label>
                        <div class="col ">
                            <input type="number" name="year" class="form-control form-date" placeholder="选择或者输入一个日期：yyyy年">
                        </div>
                        <label  class="col textstyle required">方向</label>
                        <div class="col radio">
                            <label class="checkbox-inline">
                                <input type="radio" name="direction" value="上行" checked="checked"> 上行
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="direction" value="下行"> 下行
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="light">
                        <label class="col textstyle required">程度（轻）</label>
                        <div class="input-group">
                            <input type="number"  name="section1" class="form-control input-sm" placeholder="100m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section2" class="form-control input-sm" placeholder="200m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section3" class="form-control input-sm" placeholder="300m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section4" class="form-control input-sm" placeholder="400m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section5" class="form-control input-sm" placeholder="500m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section6" class="form-control input-sm" placeholder="600m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section7" class="form-control input-sm" placeholder="700m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section8" class="form-control input-sm" placeholder="800m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section9" class="form-control input-sm" placeholder="900m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section10" class="form-control input-sm" placeholder="1000m">
                        </div>
                    </div>
                    <div class="form-group" id="heavy">
                        <label  class="col textstyle required">程度（重）</label>
                        <div class="input-group">
                            <input type="number"  name="section1" class="form-control input-sm" placeholder="100m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section2" class="form-control input-sm" placeholder="200m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section3" class="form-control input-sm" placeholder="300m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section4" class="form-control input-sm" placeholder="400m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section5" class="form-control input-sm" placeholder="500m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section6" class="form-control input-sm" placeholder="600m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section7" class="form-control input-sm" placeholder="700m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section8" class="form-control input-sm" placeholder="800m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section9" class="form-control input-sm" placeholder="900m">
                            <span class="input-group-addon fix-border fix-padding"></span>
                            <input type="number"  name="section10" class="form-control input-sm" placeholder="1000m">
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary"  id="addUpdateformsubmit">提交</button>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>